<footer class="footer footer-dark bg-gradient-primary">
    <div class="container">
        <div class="row pt-md">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <a href="{{ site.url }}">
                    <img class="mb-4" src="{{ site.url }}/assets/img/brand/tecdrop-footer-logo-white.png" alt="Tecdrop footer logo" height="50">
                </a>
                <p class="text-sm">A dropsite for the founder's free, tiny, minimalist apps. The largest Tecdrop apps can be measured in kilobytes, while the smallest ones can be measured in... bytes!</p>
            </div>
            <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mr-lg-5 mb-5 mb-lg-0">
                <h6 class="heading mb-3">Apps</h6>
                <ul class="list-unstyled">
                    <li><a href="{{ site.url }}/pitchblackwallpaper/">Pitch Black Wallpaper</a></li>
                    <li><a href="{{ site.url }}/rgbcolorwallpaper/">RGB Color Wallpaper</a></li>
                    <li><a href="{{ site.url }}/colormyname/">Color My Name</a></li>
                    <li><a href="{{ site.url }}/iseepass/">ISeePass</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
                <h6 class="heading mb-3">More</h6>
                <ul class="list-unstyled text-small">
                    <li><a href="{{ site.url }}/reviews/">Reviews</a></li>
                    <li><a href="{{ site.url }}/articles/">Articles</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-4 mb-5 mb-lg-0">
                <h6 class="heading mb-3">Company</h6>
                <ul class="list-unstyled">
                    <li><a href="{{ site.url }}/about/">About</a>
                    <li><a href="{{ site.url }}/about/privacy/">Privacy</a></li>
                    <li><a href="{{ site.url }}/contact/">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="row align-items-center justify-content-md-between py-4 mt-4 delimiter-top">
            <div class="col-md-6">
                <div class="copyright text-sm font-weight-bold text-center text-md-left">
                    &copy; 2013-2018 <a href="{{ site.url }}" class="font-weight-bold" target="_blank">Tecdrop</a>. All rights reserved.
                </div>
            </div>
            <div class="col-md-6">
                <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="https://play.google.com/store/apps/dev?id=5837949009301066247" target="_blank"><i class="fab fa-google-play"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/tecdrop" target="_blank"><i class="fab fa-github"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://pitchblackwallpaper.tumblr.com/" target="_blank"><i class="fab fa-tumblr"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://twitter.com/tecdrop" target="_blank"><i class="fab fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>