<header class="header-transparent" id="header-main">

    <!-- Topbar -->
    <div id="navbar-top-main" class="navbar-top  navbar-dark bg-dark border-bottom">
        <div class="container">
            <div class="navbar-nav align-items-center">
                <div class="d-none d-lg-inline-block">
                    <span class="navbar-text mr-3"><a href="https://www.east-tec.com" target="_blank">Visit East-Tec</a>, the sponsor of the free Tecdrop apps</span>
                </div>
                <div class="ml-auto">
                    <ul class="nav">
                        <li class="nav-item">
                            <span class="navbar-text font-weight-bold">Find us on</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://play.google.com/store/apps/dev?id=5837949009301066247" target="_blank"><i class="fab fa-google-play"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://github.com/tecdrop" target="_blank"><i class="fab fa-github"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://twitter.com/tecdrop" target="_blank"><i class="fab fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Main navbar -->
    <nav class="navbar navbar-main navbar-expand-lg navbar-sticky navbar-transparent navbar-dark bg-dark" id="navbar-main">
        <div class="container">
            <a class="navbar-brand mr-lg-5" href="{{ site.url }}">
                <img height="50" src="{{ site.url }}/assets/img/brand/tecdrop-header-logo.png" alt="Tecdrop logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span></button>

            <div class="collapse navbar-collapse" id="navbar-main-collapse">
                <ul class="navbar-nav align-items-lg-center">
                    <li class="nav-item ">
                        <a class="nav-link" href="{{ site.url }}">Home</a>
                    </li>
                    <li class="nav-item dropdown dropdown-animate" data-toggle="hover">
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Apps</a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-arrow py-0">
                            <div class="list-group">
                                <a href="{{ site.url}}/pitchblackwallpaper/" class="list-group-item list-group-item-action">
                                    <div class="media d-flex align-items-center">
                                        <!-- <img alt="Image placeholder" src="../assets/img/icons/dusk/svg/browser-window.svg" class="img-saturate" style="width: 50px;"> -->
                                        <div class="media-body ml-3">
                                            <h6 class="mb-1">Pitch Black Wallpaper</h6>
                                            <!-- <p class="mb-0">A great point to start from.</p> -->
                                        </div>
                                    </div>
                                </a>
                                <a href="{{ site.url}}/rgbcolorwallpaper/" class="list-group-item list-group-item-action">
                                    <div class="media d-flex align-items-center">
                                        <!-- <img alt="Image placeholder" src="../assets/img/icons/dusk/svg/ios-photos.svg" class="img-saturate" style="width: 50px;"> -->
                                        <div class="media-body ml-3">
                                            <h6 class="mb-1">RGB Color Wallpaper</h6>
                                            <!-- <p class="mb-0">Build your website with these demos.</p> -->
                                        </div>
                                    </div>
                                </a>
                                <a href="{{ site.url }}/colormyname/" class="list-group-item list-group-item-action">
                                    <div class="media d-flex align-items-center">
                                        <!-- <img alt="Image placeholder" src="../assets/img/icons/dusk/svg/maintenance.svg" class="img-saturate" style="width: 50px;"> -->
                                        <div class="media-body ml-3">
                                            <h6 class="mb-1">Color My Name</h6>
                                            <!-- <p class="mb-0">Account management made easy.</p> -->
                                        </div>
                                    </div>
                                </a>
                                <a href="{{ site.url }}/iseepass/" class="list-group-item list-group-item-action">
                                    <div class="media d-flex align-items-center">
                                        <!-- <img alt="Image placeholder" src="../assets/img/icons/dusk/svg/in-progress.svg" class="img-saturate" style="width: 50px;"> -->
                                        <div class="media-body ml-3">
                                            <h6 class="mb-1">ISeePass</h6>
                                            <!-- <p class="mb-0">Reveal browser passwords with one click</p> -->
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.url }}/reviews/" role="button">Reviews</a>
                    </li>
                </ul>

                <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.url }}/contact/">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.url }}/about/">About</a>
                    </li>
                    <li class="nav-item mr-0">
                        <a href="{{ site.url }}/about/support/" class="nav-link d-lg-none">Support Tecdrop</a>
                        <a href="{{ site.url }}/about/support/" class="btn btn-sm btn-white btn-circle btn-icon d-none d-lg-inline-flex">
                            <span class="btn-inner--icon"><i class="fas fa-hands-helping"></i></span>
                            <span class="btn-inner--text">Support Tecdrop</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>