---
layout : default

title: "RGB Color Wallpaper - Create your own color wallpaper"
description: "Simply drag 3 seek bars to blend red, green and blue and create your own beautiful color. Then set it as your amazing minimalist Android color wallpaper."
---

<!-- App Hero -->
{% include blocks/app-hero.html 
    title="<b>RGB Color Wallpaper</b><br>Create or select your own beautiful color wallpaper." 
    lead="Mix red, green, and blue, and create your own amazing color wallpaper (or select one of the 1500 builtin colors)."
    button-url="https://play.google.com/store/apps/details?id=com.tecdrop.rgbwallpaper&utm_source=site&utm_campaign=apppage&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
    button-image="/assets/img/third/social/google-play/google-play-badge.svg"
    button-image-alt="Get it on Google Play"
    image="/assets/img/apps/rgbcolorwallpaper/home/rgbcolorwallpaper-hero.png" 
    image-alt="RGB Color Wallpaper screenshot on Android device"
%}

<!-- Key Features -->
<section class="slice slice-lg bg-primary">
    <div class="container">
        <div class="row row-grid">
            <div class="col-lg-4">
                {% include blocks/feature.html icon="fas fa-fill-drip" title="Create your own" text="Simply drag the 3 seek bars to blend red, green and blue and create your own unique and beautiful color. Then tap a button to set your creation as your amazing minimalist color wallpaper." %}
            </div>
            <div class="col-lg-4">
                {% include blocks/feature.html icon="fas fa-palette" title="Builtin choices" text="There is also a list of over 1500 named colors to use as inspiration, so you can easily set your wallpaper to Antique Bronze, Apple, Bittersweet, French Rose, or Royal Blue, with just a few taps." %}
            </div>
            <div class="col-lg-4">
                {% include blocks/feature.html icon="fas fa-list-ol" title="Multiple benefits" text="Solid color wallpapers use less memory, less battery, and may even speed up your device. You can also use the app for color therapy, as a fun tool to play with the kids and teach them colors, or as a color picker." %}
            </div>
        </div>
    </div>
</section>

<!-- Media Reviews -->
<section class="slice slice-lg">
    <div class="container">
        <div class="row row-grid">
            <div class="col-lg-4">
                {% include blocks/review.html title="Download3K: Excellent" text="If you are tired of constantly searching for a nice wallpaper for your Android device, and want something simple and neat that looks beautiful, then give RGB Color Wallpaper a try." url="https://www.download3k.com/Desktop-Enhancements/Themes-wallpapers/Download-RGB-Color-Wallpaper.html" %}
            </div>
            <div class="col-lg-4">
                {% include blocks/review.html title="TrishTech" text="RGB Color Wallpaper is basically a virtual palette for you to mix the colors and then use the resulting color to paint the home screen background of your Android device." url="http://www.trishtech.com/2016/02/rgb-color-wallpaper-brings-solid-color-wallpaper-android/" %}
            </div>
            <div class="col-lg-4">
                {% include blocks/review.html title="GIGA ANDROID" text="There are countless apps in the Play Store, some more useful than others. RGB Color Wallpaper is certainly one of the better ones. (Translated from German)" url="https://www.giga.de/apps/rgb-color-wallpaper/" %}
            </div>
        </div>
    </div>
</section>

<!-- Experience simple -->
<section class="slice slice-lg bg-secondary">
    <div class="container">
        <div class="row row-grid">
            <div class="col-lg-3 align-self-center">
                <h3 class="h3">Experience simple</h3>
                <p class="lead mt-4">Pitch Black Wallpaper is so simple and straightforward, that even creating its <a class="link text-dark font-weight-bold" href="{{ site.url }}/pitchblackwallpaper/help/">help page</a> was actually a challenge. Just read a confirmation message, and tap a button. Congratulations! It's a Black Wallpaper!</p>
            </div>
            <div class="col-12 col-lg-6">
                <div class="px-4">
                    <img src="{{ site.url }}/assets/img/apps/pitchblackwallpaper/home/pitchblackwallpaper-experience-section.png" class="img-fluid rounded box-shadow-3" alt="Pitch Black Wallpaper - Congratulations! It's a Black Wallpaper!">
                </div>
            </div>
            <div class="col-lg-3 align-self-end">
                <div class="">
                    <p class="pt-3">RGB Color Wallpaper is a tiny 80k download, and runs on all Android versions starting with 4.1. It only requires one permission: the ability to set the wallpaper on your device.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- User Testimonials -->
<section class="slice slice-lg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="pr-4">
                    <h4>Testimonials</h4>
                    <p class="lead mt-3">See what users are saying about RGB Color Wallpaper. <a class="link text-dark font-weight-bold" href="{{ site.url }}/rgbcolorwallpaper/reviews/">See dozens more</a></p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card-deck">
                    {% include blocks/testimonial.html name="Alessio Fedrizzi" lead="on Google Play" text="Another amazing app from this developer. Super light too. ... They should add it as a standard in Android." url="https://play.google.com/store/apps/details?id=com.tecdrop.rgbwallpaper" %}
                    {% include blocks/testimonial.html name="C.M. VERMA" lead="on Google Play" text="All stars! Unfortunately, I cannot give more stars because google has 5 stars only. THE BEST IN THE SMALLEST SIZE." url="https://play.google.com/store/apps/details?id=com.tecdrop.rgbwallpaper" %}
                    {% include blocks/testimonial.html name="Gail Reed" lead="on Google Play" text="Does just what you want, nothing you don't! Does exactly what it promises, nothing more, nothing less. Perfect." url="https://play.google.com/store/apps/details?id=com.tecdrop.rgbwallpaper" %}
                </div>
            </div>
        </div>
    </div>
</section>
