<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <!-- <span class="avatar avatar-sm bg-dark">{{ include.avatar }}</span> -->
            <span class="avatar avatar-sm bg-dark"><i class="fas fa-user-check"></i></span>
            <div class="avatar-content">
                {% if include.url %}<a href="{{ include.url }}" target="_blank">{% endif %}
                    <h5 class="h6 mb-0">{{ include.name }}</h5>
                    <small class="d-block text-muted">{{ include.lead }}</small>
                {% if include.url %}</a>{% endif %}
            </div>
        </div>
        <p class="mt-4 lh-180">{{ include.text }}</p>
        <span class="static-rating static-rating-sm">
            <i class="star fas fa-star voted"></i>
            <i class="star fas fa-star voted"></i>
            <i class="star fas fa-star voted"></i>
            <i class="star fas fa-star voted"></i>
            <i class="star fas fa-star voted"></i>
        </span>
    </div>
</div>