---
layout : default
---

        <!-- Spotlight -->
        <!-- <section class="bg-primary bg-cover bg-lg-cover bg-size--contain" style="background-image: url('../assets/img/backgrounds/intro-left.svg'); background-position: left top;"> -->
        <section class="bg-primary bg-cover bg-lg-cover bg-size--contain" data-separator="bottom-wave">
            <div class="container pt-lg">
                <div class="row">
                    <div class="col-lg-7 py-md">
                        <div class="pt-lg-xl pb-lg-md">
                            <h1 class="text-white mb-4 lh-110">A million downloads Android app that sets a black wallpaper.</h1>
                            <div class="row">
                                <div class="col-lg-10">
                                    <p class="lead text-white lh-180">More battery life, less eyestrain.</p>
                                </div>
                            </div>
                            <!-- <a href="#" class="shadow mt-4">
                                <img width="240" src="{{ site.url }}/assets/img/third/social/google-play/google-play-badge.svg" alt="Get it on Google Play">
                            </a> -->
                            <a href="https://play.google.com/store/apps/details?id=com.tecdrop.pitchblackwallpaper&utm_source=site&utm_campaign=apppage&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" target="_blank">
                                <!-- <img width="240" alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"/> -->
                                <img width="240" src="{{ site.url }}/assets/img/third/social/google-play/google-play-badge.svg" alt="Get it on Google Play">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="faded-top">
                            <span class="mask bg-primary opacity-5"></span>
                            <img alt="Image placeholder" src="{{ site.url }}/assets/img/apps/pitchblackwallpaper/pitchblackwallpaper-screenshot-hero-2.png" class="img-fluid img-center rounded-bottom shadow-lg">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-darker">
                <div class="slice slice-lg bg-primary" data-separator="rounded-right" data-separator-orientation="bottom">
                    <div class="container">
                        <div class="row row-grid">
                            <div class="col-lg-4">
                                <div class="px-4">
                                    <div class="mb-4">
                                        <div class="icon icon-lg icon-shape bg-white shadow rounded-circle text-primary">
                                            <i class="far fa-paint-brush"></i>
                                        </div>
                                    </div>
                                    <h5 class="text-white mb-3">20+ Landing pages</h5>
                                    <p class="text-white">With Purpose you get components and examples, including tons of variables that will help you customize this theme with ease.</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="px-4">
                                    <div class="mb-4">
                                        <div class="icon icon-lg icon-shape bg-white shadow rounded-circle text-primary">
                                            <i class="far fa-code"></i>
                                        </div>
                                    </div>
                                    <h5 class="text-white mb-3">Really useful features</h5>
                                    <p class="text-white">With Purpose you get components and examples, including tons of variables that will help you customize this theme with ease.</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="px-4">
                                    <div class="mb-4">
                                        <div class="icon icon-lg icon-shape bg-white shadow rounded-circle text-primary">
                                            <i class="far fa-tint"></i>
                                        </div>
                                    </div>
                                    <h5 class="text-white mb-3">Highly customizable</h5>
                                    <p class="text-white">With Purpose you get components and examples, including tons of variables that will help you customize this theme with ease.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

<!-- <section class="slice slice-lg pb-0 bg-primary bg-cover bg-lg-cover bg-size--contain" data-separator="bottom-wave">
    <div class="spotlight-holder">
        <div class="container d-flex align-items-end pt-lg">
            <div class="col">
                <div class="row row-grid">
                    <div class="col-lg-5 align-self-center">
                        <div class="text-center text-lg-left pb-lg">
                            <h2 class="heading h1 text-white mb-4">A million downloads Android app that sets a black wallpaper.</h2>
                            <p class="lead lh-180 text-white">With Purpose we have optimized the customization process
                                to save your team time when building websites.</p>
                            <div class="mt-5">
                                <a href="#" class="btn btn-app-store btn-translate--hover mr-lg-4 mb-4">
                                    <i class="fab fa-apple"></i>
                                    <span class="btn-inner--text">Download on the</span>
                                    <span class="btn-inner--brand">App Store</span>
                                </a>
                                <a href="#" class="btn btn-app-store btn-translate--hover mb-4">
                                    <i class="fab fa-google-play"></i>
                                    <span class="btn-inner--text">Download on the</span>
                                    <span class="btn-inner--brand">Play Store</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 ml-lg-auto align-self-end">
                        <div class="position-relative" style="z-index: 10;">
                            <img width="350" class="img-fluid img-center" src="{{ site.url }}/assets/img/apps/pitchblackwallpaper/pitchblackwallpaper-screenshot-hero-2.png" alt="Pitch Black Wallpaper Android Phone Screenshot">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- <section class="slice pb-200 bg-primary">
    <div class="container">
        <div class="text-center">
            <h1 class="text-white">It's time to change the game</h1>
            <div class="fluid-paragraph mt-4">
                <p class="lead text-white lh-180">Purpose is a great free UI package based on Bootstrap 4 that includes the most important components and features so you can jumpstart the hard work and get right to the website creation fast and easy.</p>
                <a href="#" class="btn btn-outline-white btn-circle btn-icon mt-5">
                    <span class="btn-inner--icon"><i class="far fa-angle-right"></i></span>
                    <span class="btn-inner--text">Read full story</span>
                </a>
            </div>
        </div>
    </div>
</section> -->

<section class="slice slice-lg pt-200 delimiter-bottom">
    <div class="container">
        <div class="mb-md text-center">
            <h3 class="heading h2">What our users say</h3>
            <div class="fluid-paragraph mt-3">
                <p class="lead">A million downloads Android app that sets a black wallpaper. Really? What people are saying in its defense.</p>
            </div>
        </div>
        <div class="card-columns">

            {% include blocks/testimonial.html avatar="TK" name="Timo Kallela" lead="on Twitter" text="First thing to install #wallpaper #clean" %}
            {% include blocks/testimonial.html avatar="MR" name="Matt Ramos" lead="on Google Play" text="Lol Seriously, I'm giving this five stars for the humor and sarcasm. 'Congratulations! It's a black wallpaper!'' Loooollll" %}
            {% include blocks/testimonial.html avatar="SR" name="Soren Rodman" lead="on Google Play" text="Simple, smart, brilliant. A useful little app with easy one tap application. It features no ads, no hidden purchases, and no unnecessary complexity. Tecdrop knows what it's doing." %}
            {% include blocks/testimonial.html avatar="VM" name="Vladimir Molitvenik" lead="on Google Play" text="One wallpaper to rule them all" %}
            {% include blocks/testimonial.html avatar="BN" name="Bob Newell" lead="on Google Play" text="The simplest concepts are often the most brilliant. This app is awesome." %}
            {% include blocks/testimonial.html avatar="AS" name="Andi Stumboeck" lead="on Google Play" text="Fantastic 👍👌 works perfectly ... How can I pay a cappuccino to the developer? ☕" %}

        </div>
    </div>
</section>