---
layout : default
---



<!-- Spotlight -->
<!-- <section class="slice slice-lg bg-primary overflow-hidden bg-cover">
    <div class="container pt-lg position-relative zindex-100">
        <div class="row row-grid justify-content-between">
            <div class="col-lg-6 align-self-end">
                <div class="py-lg-lg text-center text-lg-left">
                    <h2 class="heading h1 text-white mb-4">A million downloads app that sets a black wallpaper.</h2>
                    <p class="lead lh-180 text-white">More battery life, less eyestrain. Just tap a confirmation button, and get instant results. No ads, no Internet, and no extra permissions.</p>
                    <div class="mt-4">
                        <a href="https://play.google.com/store/apps/details?id=com.tecdrop.pitchblackwallpaper&utm_source=site&utm_campaign=apppage&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" target="_blank">
                            <img width="240" style="margin-left: -1rem;" src="{{ site.url }}/assets/img/third/social/google-play/google-play-badge.svg" alt="Get it on Google Play">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="faded-top">
                    <span class="mask bg-primary opacity-3"></span>
                    <img class="img-fluid img-center rounded-bottom shadow-lg" src="{{ site.url }}/assets/img/apps/pitchblackwallpaper/pitchblackwallpaper-screenshot-hero-2.png" alt="Pitch Black Wallpaper screenshot">
                </div>
            </div>
        </div>
    </div>
</section> -->

<!-- Spotlight -->
<!-- <section class="bg-primary bg-cover bg-lg-cover bg-size--contain" style="background-image: url('../assets/img/backgrounds/intro-left.svg'); background-position: left top;"> -->
<section class="slice slice-lg bg-primary bg-cover bg-lg-cover bg-size--contain" data-separator="bottom-wave">
    <div class="container pt-lg">
        <div class="row">
            <div class="col-lg-7 py-md">
                <div class="pt-lg-xl pb-lg-md">
                    <h1 class="text-white mb-4 lh-110">A 1M+ downloads app that sets <span class="d-xl-block font-weight-bold">a black wallpaper.</span></h1>
                    <div class="row">
                        <div class="col-lg-10">
                            <p class="lead text-white lh-180">More battery life, less eyestrain. Just tap a button and get instant results. No ads, no Internet, and no extra permissions.</p>
                        </div>
                    </div>
                    <a href="https://play.google.com/store/apps/details?id=com.tecdrop.pitchblackwallpaper&utm_source=site&utm_campaign=apppage&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" target="_blank">
                        <img width="240" style="margin-left: -1rem;" src="{{ site.url }}/assets/img/third/social/google-play/google-play-badge.svg" alt="Get it on Google Play">
                    </a>
                </div>
            </div>
            <!-- <div class="col-lg-4">
                <div class="faded-top">
                    <span class="mask bg-primary opacity-3"></span>
                    <img class="img-fluid img-center rounded-bottom shadow-lg" src="{{ site.url }}/assets/img/apps/pitchblackwallpaper/pitchblackwallpaper-screenshot-hero-3.png" alt="Pitch Black Wallpaper screenshot">
                </div>
            </div> -->
            <div class="col-lg-4 ml-lg-auto align-self-end">
            <!-- <div class="col-lg-4"> -->
                <img class="img-fluid img-center" src="{{ site.url }}/assets/img/apps/pitchblackwallpaper/pitchblackwallpaper-screenshot-hero-3.png" alt="Pitch Black Wallpaper screenshot">

            </div>
        </div>
    </div>
</section>

<section class="bg-darker">
        <div class="slice slice-lg bg-primary" data-separator="rounded-right" data-separator-orientation="bottom">
            <div class="container">
                <div class="row row-grid">
                    <div class="col-lg-4">
                        <div class="px-4">
                            <div class="mb-4">
                                <div class="icon icon-lg icon-shape bg-white shadow rounded-circle text-primary">
                                    <i class="far fa-paint-brush"></i>
                                </div>
                            </div>
                            <h5 class="text-white mb-3">20+ Landing pages</h5>
                            <p class="text-white">With Purpose you get components and examples, including tons of variables that will help you customize this theme with ease.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="px-4">
                            <div class="mb-4">
                                <div class="icon icon-lg icon-shape bg-white shadow rounded-circle text-primary">
                                    <i class="far fa-code"></i>
                                </div>
                            </div>
                            <h5 class="text-white mb-3">Really useful features</h5>
                            <p class="text-white">With Purpose you get components and examples, including tons of variables that will help you customize this theme with ease.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="px-4">
                            <div class="mb-4">
                                <div class="icon icon-lg icon-shape bg-white shadow rounded-circle text-primary">
                                    <i class="far fa-tint"></i>
                                </div>
                            </div>
                            <h5 class="text-white mb-3">Highly customizable</h5>
                            <p class="text-white">With Purpose you get components and examples, including tons of variables that will help you customize this theme with ease.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



<section class="slice slice-lg pt-200 delimiter-bottom">
    <div class="container">
        <div class="mb-md text-center">
            <h3 class="heading h2">What our users say</h3>
            <div class="fluid-paragraph mt-3">
                <p class="lead">A million downloads Android app that sets a black wallpaper. Really? What people are saying in its defense.</p>
            </div>
        </div>
        <div class="card-columns">

            {% include blocks/testimonial.html avatar="TK" name="Timo Kallela" lead="on Twitter" text="First thing to install #wallpaper #clean" %}
            {% include blocks/testimonial.html avatar="MR" name="Matt Ramos" lead="on Google Play" text="Lol Seriously, I'm giving this five stars for the humor and sarcasm. 'Congratulations! It's a black wallpaper!'' Loooollll" %}
            {% include blocks/testimonial.html avatar="SR" name="Soren Rodman" lead="on Google Play" text="Simple, smart, brilliant. A useful little app with easy one tap application. It features no ads, no hidden purchases, and no unnecessary complexity. Tecdrop knows what it's doing." %}
            {% include blocks/testimonial.html avatar="VM" name="Vladimir Molitvenik" lead="on Google Play" text="One wallpaper to rule them all" %}
            {% include blocks/testimonial.html avatar="BN" name="Bob Newell" lead="on Google Play" text="The simplest concepts are often the most brilliant. This app is awesome." %}
            {% include blocks/testimonial.html avatar="AS" name="Andi Stumboeck" lead="on Google Play" text="Fantastic 👍👌 works perfectly ... How can I pay a cappuccino to the developer? ☕" %}

        </div>
    </div>
</section>