---
layout : default
---


<!-- Spotlight -->
<section class="slice slice-lg pb-0 bg-primary bg-cover bg-lg-cover bg-size--contain" data-separator="bottom-wave">
    <div class="spotlight-holder">
        <div class="container d-flex align-items-end pt-lg">
            <div class="col">
                <div class="row row-grid">
                    <div class="col-lg-6 align-self-center">
                        <div class="text-center text-lg-left pb-lg">
                            <h2 class="heading h1 text-white mb-4">A 1M+ downloads app that sets <span class="font-weight-bold">a black wallpaper.</span></h2>
                            <p class="lead lh-180 text-white">More battery life, less eyestrain. Just tap a button and get instant results. No ads, no Internet, and no extra permissions.</p>
                            <div class="mt-4">
                                <a href="https://play.google.com/store/apps/details?id=com.tecdrop.pitchblackwallpaper&utm_source=site&utm_campaign=apppage&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" target="_blank">
                                    <img width="240" style="margin-left: -1rem;" src="{{ site.url }}/assets/img/third/social/google-play/google-play-badge.svg" alt="Get it on Google Play">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 ml-lg-auto mr-lg-5 align-self-end">
                        <div class="position-relative" style="z-index: 10;">
                            <img class="img-fluid img-center" src="{{ site.url }}/assets/img/apps/pitchblackwallpaper/pitchblackwallpaper-screenshot-hero-3.png" alt="Pitch Black Wallpaper screenshot">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    


<section class="slice slice-lg bg-primary pb-250">
    <div class="container">
        <div class="row row-grid">
            <div class="col-lg-4">
                <div class="px-4">
                    <div class="mb-4">
                        <div class="icon icon-lg icon-shape bg-white shadow rounded-circle text-primary">
                            <i class="fas fa-plus"></i>
                        </div>
                    </div>
                    <h5 class="text-white mb-3">More benefits</h5>
                    <p class="text-white">Go minimalist, make your device look cool, sleek and mysterious, improve battery life, free up some valuable memory, and reduce eyestrain.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="px-4">
                    <div class="mb-4">
                        <div class="icon icon-lg icon-shape bg-white shadow rounded-circle text-primary">
                            <i class="fas fa-check-double"></i>
                        </div>
                    </div>
                    <h5 class="text-white mb-3">A better solution</h5>
                    <p class="text-white">The app is more straightforward and efficient than other black live wallpaper solutions, and beats covering your camera and taking a dark picture as wallpaper.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="px-4">
                    <div class="mb-4">
                        <div class="icon icon-lg icon-shape bg-white shadow rounded-circle text-primary">
                            <i class="fas fa-feather"></i>
                        </div>
                    </div>
                    <h5 class="text-white mb-3">Super easy to use</h5>
                    <p class="text-white">Pitch Black Wallpaper is extremely easy to use: just tap a confirmation button, and get instant results. Congratulations! It's a Black Wallpaper!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Media quotes -->
<section class="slice mb-xl">
    <div class="container">
        <div class="row row-grid justify-content-center mt--200">
            <div class="col-lg-9">
                <div class="card-deck flex-column flex-md-row">
                    <div class="card card-pricing zoom-in shadow-lg px-4 mr-0 mb-4">
                        <blockquote class="blockquote py-5 pl-4 pr-3">
                            <p><i class="fas fa-quote-left fa-lg text-primary"></i></p>
                            <h3 class="h2 font-weight-700">Try it out!</h3>
                            <p class="lead">Pitch Black Wallpaper is a great app that you'll have no trouble using, and will definitely help with your Android device's performance and battery drain. Don't think about it - try it out!</p>
                            <footer class="blockquote-footer"><cite class="font-weight-600" title="Source Title">Download3K</cite> Excellent Award</footer>
                        </blockquote>
                    </div>
                    <div class="card card-pricing px-4 ml-0 mb-4">
                        <blockquote class="blockquote py-5 pl-5 pr-3">
                            <p><i class="fas fa-quote-left fa-lg text-primary"></i></p>
                            <h3 class="h2 font-weight-700">Cool look</h3>
                            <p class="lead">If you're like me, I am a battery hog with my phone, but since using the Pitch Black Wallpaper app, I haven't had that issue. ... This is a battery saver and a cool look for my phone.</p>
                            <footer class="blockquote-footer"><cite class="font-weight-600" title="Source Title">Total Tech</cite> Video Review on YouTube</footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<section class="slice slice-lg">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <small class="h6 font-weight-300 text-uppercase text-muted">The challenge</small>
                <h2 class="text-primary mt-3">Pitch Black Wallpaper is so simple and straightforward, that creating its help page was actually a challenge.</h2>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-4">
                <p class="lead">"Great app. Simplicity is the key and you guys did it."</p>
                <span class="clearfix"></span>
                <h6 class="text-muted mt-3">Ritvik Balvally on Google Play</h6>
                <!-- <a href="#" class="btn btn-primary btn-circle btn-icon">
                    <span class="btn-inner--icon"><i class="fas fa-question"></i></span>
                    <span class="btn-inner--text">See the help page</span>
                </a> -->
            </div>

            <div class="col-lg-6 ml-lg-auto">
                <p class="lead">All you have to do is install the app on your Android smartphone or tablet, start the app from your Home Screen or App Drawer, read a confirmation message, and tap a confirmation button.</p>
            </div>
        </div>
    </div>
</section>


<section class="slice slice-lg">
    <div class="container">
        <div class="row align-items-center">
            <!-- <div class="col-lg-4">
                <div class="pr-4">
                    <h4>Testimonials</h4>
                    <p class="lead mt-3">A 1M+ downloads app that sets a black wallpaper. Really? What people are saying in its defense. <a class="link" href="#">See dozens more</a></p>
                </div>
            </div> -->
            <!-- <div class="col-lg-8"> -->
                <div class="card-deck">
                    {% include blocks/testimonial.html avatar="TK" name="Timo Kallela" lead="on Twitter" text="First thing to install<br>#wallpaper #clean" %}
                    {% include blocks/testimonial.html avatar="BN" name="Bob Newell" lead="on Google Play" text="The simplest concepts are often the most brilliant. This app is awesome." %}
                    {% include blocks/testimonial.html avatar="AS" name="Andi Stumboeck" lead="on Google Play" text="Fantastic! Works perfectly ... How can I pay a cappuccino to the developer? ☕" %}
                </div>
            <!-- </div> -->
        </div>
    </div>
</section>

<section class="slice slice-lg delimiter-bottom">
    <div class="container">
        <div class="row justify-content-center">
            {% include blocks/third-logo.html alt="Xataka Android" img="/assets/img/third/reviews/x/xataka/xatakandroid.svg" url="https://www.xatakandroid.com/personalizacion/cinco-aplicaciones-para-poner-fondos-de-pantalla-negros-en-moviles-con-pantalla-amoled" %}
            {% include blocks/third-logo.html alt="Download3K" img="/assets/img/third/reviews/d/download3k/download3k.png" url="https://www.download3k.com/Desktop-Enhancements/Themes-wallpapers/Download-Pitch-Black-Wallpaper.html" %}
            {% include blocks/third-logo.html alt="Galaxy Tipps" img="/assets/img/third/reviews/g/galaxy-tipps.de/galaxy-tipps.de.png" url="https://galaxy-tipps.de/android-schwarzer-hintergrund-einstellen-so-gehts-beim-galaxy-s8-s7-s6/" %}
            {% include blocks/third-logo.html alt="Computertaal" img="/assets/img/third/reviews/c/computertaal/computertaal.png" url="http://computertaal.info/2015/09/07/tecdrop-handige-appjes-voor-dagelijks-gebruik/" %}
        </div>
    </div>
</section>