---
layout : default
---


<!-- Spotlight -->
<section class="slice slice-lg pb-0 bg-primary bg-cover bg-lg-cover bg-size--contain" data-separator="bottom-wave">
    <div class="spotlight-holder">
        <div class="container d-flex align-items-end pt-lg">
            <div class="col">
                <div class="row row-grid">
                    <div class="col-lg-6 align-self-center">
                        <div class="text-center text-lg-left pb-lg">
                            <h2 class="heading h1 text-white mb-4">A 1M+ downloads app that sets <span class="font-weight-bold">a black wallpaper.</span></h2>
                            <p class="lead lh-180 text-white">More battery life, less eyestrain. Just tap a button and get instant results. No ads, no Internet, and no extra permissions.</p>
                            <div class="mt-4">
                                <a href="https://play.google.com/store/apps/details?id=com.tecdrop.pitchblackwallpaper&utm_source=site&utm_campaign=apppage&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" target="_blank">
                                    <img width="240" style="margin-left: -1rem;" src="{{ site.url }}/assets/img/third/social/google-play/google-play-badge.svg" alt="Get it on Google Play">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 ml-lg-auto mr-lg-5 align-self-end">
                        <div class="position-relative" style="z-index: 10;">
                            <img class="img-fluid img-center" src="{{ site.url }}/assets/img/apps/pitchblackwallpaper/pitchblackwallpaper-screenshot-hero-3.png" alt="Pitch Black Wallpaper screenshot">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    


<section class="slice slice-lg bg-primary">
    <div class="container">
        <div class="row row-grid">
            <div class="col-lg-4">
                <div class="px-4">
                    <div class="mb-4">
                        <div class="icon icon-lg icon-shape bg-white shadow rounded-circle text-primary">
                            <i class="fas fa-plus"></i>
                        </div>
                    </div>
                    <h5 class="text-white mb-3">More benefits</h5>
                    <p class="text-white">Go minimalist, make your device look cool, sleek and mysterious, improve battery life, free up some valuable memory, and reduce eyestrain.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="px-4">
                    <div class="mb-4">
                        <div class="icon icon-lg icon-shape bg-white shadow rounded-circle text-primary">
                            <i class="fas fa-check-double"></i>
                        </div>
                    </div>
                    <h5 class="text-white mb-3">A better solution</h5>
                    <p class="text-white">The app is more straightforward and efficient than other black live wallpaper solutions, and beats covering your camera and taking a dark picture as wallpaper.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="px-4">
                    <div class="mb-4">
                        <div class="icon icon-lg icon-shape bg-white shadow rounded-circle text-primary">
                            <i class="fas fa-feather"></i>
                        </div>
                    </div>
                    <h5 class="text-white mb-3">Super easy to use</h5>
                    <p class="text-white">Pitch Black Wallpaper is extremely easy to use: just tap a confirmation button, and get instant results. Congratulations! It's a Black Wallpaper!</p>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="slice slice-lg pt-200 delimiter-bottom">
    <div class="container">
        <div class="mb-md text-center">
            <h3 class="heading h2">What our users say</h3>
            <div class="fluid-paragraph mt-3">
                <p class="lead">A million downloads Android app that sets a black wallpaper. Really? What people are saying in its defense.</p>
            </div>
        </div>
        <div class="card-columns">

            {% include blocks/testimonial.html avatar="TK" name="Timo Kallela" lead="on Twitter" text="First thing to install #wallpaper #clean" %}
            {% include blocks/testimonial.html avatar="MR" name="Matt Ramos" lead="on Google Play" text="Lol Seriously, I'm giving this five stars for the humor and sarcasm. 'Congratulations! It's a black wallpaper!'' Loooollll" %}
            {% include blocks/testimonial.html avatar="SR" name="Soren Rodman" lead="on Google Play" text="Simple, smart, brilliant. A useful little app with easy one tap application. It features no ads, no hidden purchases, and no unnecessary complexity. Tecdrop knows what it's doing." %}
            {% include blocks/testimonial.html avatar="VM" name="Vladimir Molitvenik" lead="on Google Play" text="One wallpaper to rule them all" %}
            {% include blocks/testimonial.html avatar="BN" name="Bob Newell" lead="on Google Play" text="The simplest concepts are often the most brilliant. This app is awesome." %}
            {% include blocks/testimonial.html avatar="AS" name="Andi Stumboeck" lead="on Google Play" text="Fantastic 👍👌 works perfectly ... How can I pay a cappuccino to the developer? ☕" %}

        </div>
    </div>
</section>