---
layout : default
---


<!-- Spotlight -->
<section class="slice slice-lg pb-0 bg-primary bg-cover bg-lg-cover bg-size--contain" data-separator="bottom-wave">
    <div class="spotlight-holder">
        <div class="container d-flex align-items-end pt-lg">
            <div class="col">
                <div class="row row-grid">
                    <div class="col-lg-6 align-self-center">
                        <div class="text-center text-lg-left pb-lg">
                            <h2 class="heading h1 text-white mb-4">A 1M+ downloads app that sets <span class="font-weight-bold">a black wallpaper.</span></h2>
                            <p class="lead lh-180 text-white">More battery life, less eyestrain. Just tap a button and get instant results. No ads, no Internet, and no extra permissions.</p>
                            <div class="mt-4">
                                <a href="https://play.google.com/store/apps/details?id=com.tecdrop.pitchblackwallpaper&utm_source=site&utm_campaign=apppage&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" target="_blank">
                                    <img width="240" style="margin-left: -1rem;" src="{{ site.url }}/assets/img/third/social/google-play/google-play-badge.svg" alt="Get it on Google Play">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 ml-lg-auto mr-lg-5 align-self-end">
                        <div class="position-relative" style="z-index: 10;">
                            <img class="img-fluid img-center" src="{{ site.url }}/assets/img/apps/pitchblackwallpaper/pitchblackwallpaper-screenshot-hero-3.png" alt="Pitch Black Wallpaper screenshot">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    


<!-- <section class="slice slice-lg bg-primary pb-250"> -->
<section class="slice slice-lg bg-primary">
    <div class="container">
        <div class="row row-grid">
            <div class="col-lg-4">
                <div class="px-4">
                    <div class="mb-4">
                        <div class="icon icon-lg icon-shape bg-white shadow rounded-circle text-primary">
                            <i class="fas fa-plus"></i>
                        </div>
                    </div>
                    <h5 class="text-white mb-3">More benefits</h5>
                    <p class="text-white">Go minimalist, make your device look cool, sleek and mysterious, improve battery life, free up some valuable memory, and reduce eyestrain.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="px-4">
                    <div class="mb-4">
                        <div class="icon icon-lg icon-shape bg-white shadow rounded-circle text-primary">
                            <i class="fas fa-check-double"></i>
                        </div>
                    </div>
                    <h5 class="text-white mb-3">A better solution</h5>
                    <p class="text-white">The app is more straightforward and efficient than other black live wallpaper solutions, and beats covering your camera and taking a dark picture as wallpaper.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="px-4">
                    <div class="mb-4">
                        <div class="icon icon-lg icon-shape bg-white shadow rounded-circle text-primary">
                            <i class="fas fa-feather"></i>
                        </div>
                    </div>
                    <h5 class="text-white mb-3">Super easy to use</h5>
                    <p class="text-white">Pitch Black Wallpaper is extremely easy to use: just tap a confirmation button, and get instant results. Congratulations! It's a Black Wallpaper!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Media quotes -->
<!-- <section class="slice mb-xl">
    <div class="container">
        <div class="row row-grid justify-content-center mt--200">
            <div class="col-lg-9">
                <div class="card-deck flex-column flex-md-row">
                    <div class="card card-pricing zoom-in shadow-lg px-4 mr-0 mb-4">
                        <blockquote class="blockquote py-5 pl-4 pr-3">
                            <p><i class="fas fa-quote-left fa-lg text-primary"></i></p>
                            <h3 class="h2 font-weight-700">Try it out!</h3>
                            <p class="lead">Pitch Black Wallpaper is a great app that you'll have no trouble using, and will definitely help with your Android device's performance and battery drain. Don't think about it - try it out!</p>
                            <footer class="blockquote-footer"><cite class="font-weight-600" title="Source Title">Download3K</cite> Excellent Award</footer>
                        </blockquote>
                    </div>
                    <div class="card card-pricing px-4 ml-0 mb-4">
                        <blockquote class="blockquote py-5 pl-5 pr-3">
                            <p><i class="fas fa-quote-left fa-lg text-primary"></i></p>
                            <h3 class="h2 font-weight-700">Cool look</h3>
                            <p class="lead">If you're like me, I am a battery hog with my phone, but since using the Pitch Black Wallpaper app, I haven't had that issue. ... This is a battery saver and a cool look for my phone.</p>
                            <footer class="blockquote-footer"><cite class="font-weight-600" title="Source Title">Total Tech</cite> Video Review on YouTube</footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->



<!-- <section class="slice slice-lg bg-secondary" style="padding-bottom: 200px;"> -->
<section class="slice slice-lg">
    <div class="container">
        <div class="row row-grid">
            <div class="col-lg-4">
                <div class="card shadow">
                    <!-- <div class="card-body py-5 px-lg-5">
                        <div>
                            <div class="icon text-primary mb-3">
                                <img alt="Image placeholder" src="../assets/img/icons/dusk/png/desktop-download.png" class="img-fluid">
                            </div>
                            <h5 class="heading h5">Download Purpose</h5>
                            <p>Some quick example text to build on the card title and make up the content.</p>
                        </div>
                    </div> -->
                    <blockquote class="blockquote card-body py-5 px-lg-5">
                        <p><i class="fas fa-quote-left fa-lg text-primary"></i></p>
                        <h5 class="heading h5">Download3K: Excellent</h5>
                        <p class="lead">Pitch Black Wallpaper is a great app that you'll have no trouble using, and will definitely help with your Android device's performance and battery drain. Don't think about it - try it out!</p>
                    </blockquote>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card shadow">
                    <blockquote class="blockquote card-body py-5 px-lg-5">
                        <p><i class="fas fa-quote-left fa-lg text-primary"></i></p>
                        <h5 class="heading h5">Total Tech YouTube</h5>
                        <p class="lead">If you're like me ... I am a battery hog with my phone, but since using this app, I haven't had that issue. ... This is a battery saver and a cool look for my phone.</p>
                    </blockquote>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card shadow">
                    <blockquote class="blockquote card-body py-5 px-lg-5">
                        <p><i class="fas fa-quote-left fa-lg text-primary"></i></p>
                        <h5 class="heading h5">FileCluster</h5>
                        <p class="lead">Compared to other black wallpaper solutions, Pitch Black Wallpaper is much easier to use. You just need to install it, confirm your choice and enjoy your 100% black wallpaper.</p>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="shape-container" data-shape-style="curve" data-shape-position="bottom">
        <svg class="shape-fill-white" fill="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
            <path d="M 0 0 c 0 0 200 50 500 50 s 500 -50 500 -50 v 101 h -1000 v -100 z"></path>
        </svg>
    </div> -->
</section>




<!-- Experience simple -->
<section class="slice slice-lg bg-secondary">
    <div class="container">
        <div class="row row-grid">
            <div class="col-lg-3 align-self-center">
                <h3 class="h3">Experience simple</h3>
                <p class="lead mt-4">Pitch Black Wallpaper is so simple and straightforward, that even creating its <a class="link text-dark font-weight-bold" href="{{ site.url }}/pitchblackwallpaper/help/">help page</a> was actually a challenge. Just read a confirmation message, and tap a button. Congratulations! It's a Black Wallpaper!</p>
            </div>
            <div class="col-12 col-lg-6">
                <div class="px-4">
                    <img alt="Image placeholder" src="{{ site.url }}/assets/img/apps/pitchblackwallpaper/home/pitchblackwallpaper-screenshot-phone-confirmation.png" class="img-fluid rounded box-shadow-3">
                </div>
            </div>
            <div class="col-lg-3 align-self-end">
                <div class="">
                    <p class="pt-3">Pitch Black Wallpaper is a tiny 33k download, and runs on all Android versions starting with 2.0. It only requires one permission: the ability to set the wallpaper on your device.</p>
                </div>
            </div>
        </div>
    </div>
</section>






<section class="slice slice-lg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="pr-4">
                    <h4>Testimonials</h4>
                    <p class="lead mt-3">A 1M+ downloads app that sets a black wallpaper. Really? What are they saying in its defense. <a class="link text-dark font-weight-bold" href="#">See hundreds more</a></p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card-deck">
                    {% include blocks/testimonial.html avatar="TK" name="Soren Rodman" lead="on Google Play" text="Simple, smart, brilliant ... no unnecessary complexity. Tecdrop knows what it's doing." %}
                    {% include blocks/testimonial.html avatar="BN" name="Bob Newell" lead="on Google Play" text="The simplest concepts are often the most brilliant. This app is awesome." %}
                    {% include blocks/testimonial.html avatar="AS" name="Andi Stumboeck" lead="on Google Play" text="Fantastic! Works perfectly ... How can I pay a cappuccino to the developer? ☕" %}
                </div>
            </div>
        </div>
    </div>
</section>

